<template>
  <app-layout>
    <template #header>
      Add Song
    </template>

    <!-- This example requires Tailwind CSS v2.0+ -->
    <!--
      Custom select controls like this require a considerable amount of JS to implement from scratch. We're planning
      to build some low-level libraries to make this easier with popular frameworks like React, Vue, and even Alpine.js
      in the near future, but in the mean time we recommend these reference guides when building your implementation:

      https://www.w3.org/TR/wai-aria-practices/#Listbox
      https://www.w3.org/TR/wai-aria-practices/examples/listbox/listbox-collapsible.html
    -->
    <div class="mt-6">
      <label id="listbox-label" class="block text-sm font-medium text-gray-700">
        Find Songs on streaming provider
      </label>
      <search-streaming-songs v-model="songs"></search-streaming-songs>
    </div>

    <div class="mt-6">
      <label id="listbox-label" class="block text-sm font-medium text-gray-700">
        Playlists
      </label>
      <!-- This example requires Tailwind CSS v2.0+ -->
      <ul class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
        <li v-for="playlist in playlists"
            :key="playlist.id"
            class="col-span-1 w-full divide-y divide-gray-200">
          <button @click="togglePlaylist(playlist.id)"
                  type="button"
                  :class="{
                                   'text-indigo-700 bg-indigo-100 hover:bg-indigo-200': selectedPlaylists.includes(playlist.id),
                                   'text-gray-700 bg-white hover:bg-gray-50': !selectedPlaylists.includes(playlist.id)
                            }"
                  class="w-full inline-flex justify-center items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            {{ playlist.name }}
          </button>
        </li>

      </ul>
    </div>

    <div class="pt-6">
      <div class="flex justify-end">
        <button type="button"
                class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          Cancel
        </button>
        <button type="submit"
                class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          Save
        </button>
      </div>
    </div>

  </app-layout>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout";
import SearchStreamingSongs from "@/Components/elements/playlists/SearchStreamingSongs";

export default {
  name: "AddSong",
  components: {SearchStreamingSongs, AppLayout},
  props: ['playlists'],
  data() {
    return {
      selectedPlaylists: [],
      songs: {
        spotify: null,
        deezer: null,
      },
    }
  },
  methods: {
    togglePlaylist(playlistId) {
      if (this.selectedPlaylists.includes(playlistId)) {
        this.selectedPlaylists = this.selectedPlaylists.filter((selected) => selected !== playlistId)
        return;
      }

      this.selectedPlaylists.push(playlistId);
    },
    useSpotifyOrDeezer(spotifyValue, deezerValue) {
      if (spotifyValue !== undefined) {
        return spotifyValue
      }
      if (deezerValue !== undefined) {
        return deezerValue
      }
      return null
    }
  },
  computed: {
    formData() {
      const {spotify, deezer} = this.songs;

      if (spotify === null && deezer === null) {
        return {playlists: this.selectedPlaylists, song: null}
      }


      if (spotify !== null) {
        const song = {
          spotify_id: spotify.id,
          deezer_id: deezer !== null ? deezer.id : null,
          name: spotify.name,
          image: spotify.image,
          duration: spotify.duration,
          artists: [...spotify.artists, ...(deezer !== null ? deezer.artists : [])],
        };

        song.artists = [...new Set(song.artists.map((artist) => artist.name))];

        return {playlists: this.selectedPlaylists, song}
      }

      if (deezer !== null) {
        const song = {
          spotify_id: null,
          deezer_id: deezer.id,
          name: deezer.name,
          image: deezer.image,
          duration: deezer.duration,
          artists: deezer.artists,
        };

        song.artists = [...new Set(song.artists.map((artist) => artist.name))];

        return {playlists: this.selectedPlaylists, song}
      }

      return {playlists: this.selectedPlaylists, song: null}

    }
  }

}
</script>

<style scoped>

</style>
