<template>
    <app-layout>
        <template #header>
            Edit {{playlist.name}}
            <p class="mt-1 text-sm text-gray-500">
                This information will be displayed publicly so be careful what you share.
            </p>
        </template>

        <playlist-form :playlist="playlist"/>
    </app-layout>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout";
import FormRequest from "@/Components/Utils/FormRequest";
import Toggle from "@/Components/Ui/Fields/Toggle";
import PlaylistForm from "@/Components/elements/playlists/PlaylistForm";

export default {
    name: "Edit",
    components: {PlaylistForm, Toggle, FormRequest, AppLayout},
    props: ['playlist'],
}
</script>
