<template>
    <app-layout>
        <template #header>
            Playlists
        </template>

        <template #header-options>
            <a :href="route('playlists.settings')" class="flex items-center text-lg text-gray-500">
                <asset-icon-gear/>
                <span class="ml-1">Settings</span>
            </a>
        </template>

        <div class="mb-6 mt-3">
            <h2 class="text-gray-500 text-xs font-medium uppercase tracking-wide">Quick Actions</h2>

            <ul class="mt-3 grid grid-cols-1 gap-5 sm:gap-6 sm:grid-cols-2 lg:grid-cols-3">
                <li class="col-span-1">
                    <card-quick-action :action="() => $inertia.visit(route('playlists.add-song'))">
                        <template #icon>
                            <asset-icon-plus-circle/>
                        </template>

                        Add Song
                    </card-quick-action>
                </li>

                <li class="col-span-1">
                    <card-quick-action color="bg-yellow-500" :action="() => $inertia.visit(route(''))">
                        <template #icon>
                            <asset-icon-plus-circle/>
                        </template>

                        Add Suggestion
                    </card-quick-action>
                </li>

                <li class="col-span-1">
                    <card-quick-action color="bg-purple-500" :action="() => $inertia.visit(route('playlists.create'))">
                        <template #icon>
                            <asset-icon-plus-circle/>
                        </template>

                        Add Playlist
                    </card-quick-action>
                </li>
            </ul>
        </div>

        <div class="mb-6">
            <h3 class="text-2xl">Accounts</h3>
            <ul class="grid grid-cols-1 gap-6 sm:grid-cols-2">
                <fetch-api-data url="/api/streaming/spotify/me">
                    <template #default="{data,failed, loading}">
                        <li v-if="!loading && !failed"
                            class="col-span-1 flex flex-col text-center bg-white rounded-lg shadow divide-gray-200">
                            <div class="flex justify-end px-3 py-2">
                                <div class="flex items-center text-gray-500">
                                    {{ data['followerCount'] }} Followers
                                </div>
                            </div>
                            <div class="flex-1 flex flex-col px-8 pb-8 pt-3">
                                <a :href="data['link']" target="_blank">
                                    <img class="w-32 h-32 flex-shrink-0 mx-auto bg-black rounded-full"
                                         :src="data['imageHref']"
                                         alt="Account Image">
                                </a>
                                <h3 class="mt-6 text-gray-900 text-sm font-medium" v-text="data['name']">
                                    </h3>
                                <dl class="mt-1 flex-grow flex flex-col justify-between">
                                    <dt class="sr-only">Platform</dt>
                                    <dd class="text-gray-500 text-sm flex justify-center">
                                        <img class="h-8"
                                             :src="spotifyLogo"
                                             alt="Spotify Logo Image">
                                    </dd>
                                </dl>
                            </div>
                        </li>
                        <li v-else-if="loading">Loading</li>
                        <li v-else>Failed</li>
                    </template>
                </fetch-api-data>
                <fetch-api-data url="/api/streaming/deezer/me">
                    <template #default="{data,failed, loading}">
                        <li v-if="!loading && !failed"
                            class="col-span-1 flex flex-col text-center bg-white rounded-lg shadow divide-gray-200">
                            <div class="flex justify-end px-3 py-2">
                                <div class="flex items-center text-gray-500">
                                    {{ data['followerCount'] }} Followers
                                </div>
                            </div>
                            <div class="flex-1 flex flex-col px-8 pb-8 pt-3">
                                <a :href="data['link']" target="_blank">
                                    <img class="w-32 h-32 flex-shrink-0 mx-auto bg-black rounded-full"
                                         :src="data['imageHref'] + '?size=big'"
                                         alt="Account Image">
                                </a>
                                <h3 class="mt-6 text-gray-900 text-sm font-medium" v-text="data['name']">
                                </h3>
                                <dl class="mt-1 flex-grow flex flex-col justify-between">
                                    <dt class="sr-only">Platform</dt>
                                    <dd class="text-gray-500 text-sm flex justify-center">
                                        <deezer-logo class="h-6" />
                                    </dd>
                                </dl>
                            </div>
                        </li>
                      <li v-else-if="loading">Loading</li>
                      <li v-else>Failed</li>
                    </template>
                </fetch-api-data>
            </ul>
        </div>

        <div>
            <h3 class="text-2xl">Playlists</h3>
            <!-- This example requires Tailwind CSS v2.0+ -->
            <ul class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
                <li v-for="playlist in playlists" :key="playlist.id"
                    class="overflow-hidden col-span-1 flex flex-col text-center bg-white rounded-lg shadow divide-y divide-gray-200">
                    <div class="flex-1 flex flex-col">
                        <inertia-link :href="route('playlists.show', {playlist: playlist.id})">
                        <div class="relative pb-full">
                            <div v-if="playlist.image === null"
                                 class="bg-green-600 absolute top-0 bottom-0 h-full w-full object-cover">
                            </div>
                            <img v-else class="absolute top-0 bottom-0 h-full w-full object-cover"
                                 :src="playlist.image" alt="">
                        </div>
                        </inertia-link>
                        <h3 class="my-3 text-gray-900 text-sm font-medium" v-text="playlist.name"></h3>
                    </div>
                    <div>
                        <div class="-mt-px flex divide-x divide-gray-200 px-2">
                            <div class="flex-1 w-0 flex justify-around items-center">
                                <a class="block w-7" href="#">
                                    <img :src="spotifyIcon" alt="Spotify Icon" />
                                </a>
                                <a class="block w-7" href="#">
                                    <deezer-icon />
                                </a>
                            </div>
                            <div class="w-0 flex-1 flex">
                                <inertia-link :href="route('playlists.edit', {playlist: playlist.id})" @click="playlistEdit = playlist.id"
                                        class="relative -mr-px w-0 flex-1 inline-flex items-center justify-center py-3 text-sm text-gray-700 font-medium border border-transparent rounded-bl-lg hover:text-gray-500">

                                    <svg class="w-5 h-5 text-gray-400" fill="none" stroke="currentColor"
                                         viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                              d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"></path>
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                              d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                                    </svg>
                                    <span class="ml-1">Edit</span>
                                </inertia-link>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

        </div>

    </app-layout>
</template>

<script>
import AppLayout from '@/Layouts/AppLayout'
import AssetIconPlusCircle from "@/Components/Assets/Icons/assetIconPlusCircle";
import SpotifyLogo from "@/assets/img/Spotify_Logo.png";
import SpotifyIcon from "@/assets/img/Spotify_Icon.png";
import AssetIconX from "@/Components/Assets/Icons/assetIconX";
import AssetIconUsers from "@/Components/Assets/Icons/assetIconUsers";
import JetDialogModal from '@/Jetstream/DialogModal'
import UpdatePlaylistForm from "@/Pages/Playlists/UpdatePlaylistForm";
import AssetIconGear from "@/Components/Assets/Icons/assetIconGear";
import CardQuickAction from "@/Components/Ui/CardQuickAction";
import DeezerLogo from "@/Components/Assets/Logos/DeezerLogo";
import DeezerIcon from "@/Components/Assets/Logos/DeezerIcon";
import FetchApiData from "@/Components/Utils/FetchApiData";

export default {
    props: {
        playlists: Array,
    },
    components: {
        FetchApiData,
        DeezerLogo,
        DeezerIcon,
        CardQuickAction,
        AssetIconGear,
        UpdatePlaylistForm,
        JetDialogModal,
        AssetIconUsers,
        AssetIconX,
        AssetIconPlusCircle,
        AppLayout,
        SpotifyLogo
    },
    computed: {
        spotifyLogo: () => SpotifyLogo,
        spotifyIcon: () => SpotifyIcon
    },
}
</script>
