<template>
    <app-layout>
        <template #header>
            Playlist Settings
        </template>

        Setttiasdasd asdajskdhas asd
    </app-layout>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout";
export default {
    name: "Settings",

    components: {AppLayout}
}
</script>

<style scoped>

</style>
