<template>
    <app-layout>
        <div>

            <div class="flex mb-3">
                <div class="flex-shrink-0 mr-4">
                    <img class="h-44 w-44 sm:h-52 sm:w-52"
                         :src="playlist.image"
                         alt="">
                </div>
                <div>
                    <div>
                        <h4 class="text-gray-500">Playlist</h4>
                        <h2 class="text-xl font-bold" v-text="playlist.name"></h2>
                    </div>
                    <div class="text-gray-500 mb-3" v-text="playlist.description"></div>
                    <div class="flex justify-between">
                           <span> <span class="">63</span> <span class="text-gray-500">Songs</span></span>
                        <inertia-link :href="route('playlists.edit', {playlist: playlist.id})"
                                class="inline-flex items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                           Edit
                        </inertia-link>
                    </div>
                </div>
            </div>

            <div class="relative pb-5 border-b border-gray-200 sm:pb-0">
                <div class="md:flex md:items-center md:justify-between">
                    <h3 class="text-lg leading-6 font-medium text-gray-900">
                        Songs
                    </h3>
                    <div class="mt-3 flex md:mt-0 md:absolute md:top-3 md:right-0">
                        <inertia-link :href="route('playlists.add-song')"
                                class="inline-flex items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                            Add Song
                        </inertia-link>
                        <button type="button"
                                class="ml-3 inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                            Add Suggestion
                        </button>
                    </div>
                </div>

                <div class="mt-4">
                    <!-- Dropdown menu on small screens -->
                    <div class="sm:hidden">
                        <label for="selected-tab" class="sr-only">Select a tab</label>
                        <select id="selected-tab" name="selected-tab"
                                class="block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                            <option>Combined</option>

                            <option>Spotify</option>

                            <option selected>Deezer</option>

                            <option selected>Suggestions</option>
                        </select>
                    </div>
                    <!-- Tabs at small breakpoint and up -->
                    <div class="hidden sm:block">
                        <nav class="-mb-px flex space-x-8">
                            <a href="#"
                               class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap pb-4 px-1 border-b-2 font-medium text-sm">
                                Combined
                            </a>

                            <a href="#"
                               class="flex items-center border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap pb-4 px-1 border-b-2 font-medium text-sm">
                                <img :src="spotifyIcon" alt="Spotify Icon" class="w-em h-em mr-1"> Spotify
                            </a>

                            <!-- Current: "border-indigo-500 text-indigo-600", Default: "border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300" -->
                            <a href="#"
                               class="flex border-indigo-500 text-indigo-600 whitespace-nowrap pb-4 px-1 border-b-2 font-medium text-sm"
                               aria-current="page">
                                <deezer-icon class="w-em mr-1"/>
                                Deezer
                            </a>

                            <a href="#"
                               class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap pb-4 px-1 border-b-2 font-medium text-sm">
                                Suggestions
                            </a>
                        </nav>
                    </div>
                </div>
            </div>

            <!-- This example requires Tailwind CSS v2.0+ -->
            <div class="bg-white shadow overflow-hidden sm:rounded-md">
                <ul class="divide-y divide-gray-200">
                    <li>
                        <a href="#" class="block hover:bg-gray-50">
                            <div class="flex items-center px-4 py-4 sm:px-6">
                                <div class="min-w-0 flex-1 flex items-center">
                                    <div class="flex-shrink-0">
                                        <img class="h-12 w-12"
                                             src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                                             alt="">
                                    </div>
                                    <div class="min-w-0 flex-1 px-4 md:grid md:grid-cols-2 md:gap-4">
                                        <div>
                                            <p class="text-sm font-medium text-indigo-600 truncate">Die Kids sind ok</p>
                                            <p class="mt-2 flex items-center text-sm text-gray-500">
                                                <span class="truncate">ZSK</span>
                                            </p>
                                        </div>
                                        <div class="hidden md:block">
                                            <div>
                                                <p class="text-sm text-gray-900">
                                                    Added
                                                    <time datetime="2020-01-07">January 7, 2020</time>
                                                </p>
                                                <p class="mt-2 flex items-center text-sm text-gray-500">
                                                    <span class="flex mr-4">
                                                    <img :src="spotifyIcon"
                                                         alt="Spotify Icon"
                                                         class="w-5 h-5">
                                                    </span>

                                                    <span class="flex">
                                                              <deezer-icon class="w-6"/>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

        </div>

    </app-layout>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout";
import DeezerLogo from "@/Components/Assets/Logos/DeezerLogo";
import DeezerIcon from "@/Components/Assets/Logos/DeezerIcon";
import SpotifyIcon from "@/assets/img/Spotify_Icon.png";

export default {
    name: "Show",
    components: {DeezerIcon, DeezerLogo, AppLayout},
    props: ['playlist'],
    computed: {
        spotifyIcon: () => SpotifyIcon,
    }
}
</script>

<style scoped>

</style>
