<template>
    <jet-form-section @submitted="updatePassword">
        <template #title>
            Update Playlist
        </template>

        <template #description>
            Ensure your account is using a long, random password to stay secure.
        </template>

        <template #form>
            <div class="col-span-6 sm:col-span-4">
                <jet-label for="name" value="Name" />
                <jet-input id="name"
                           type="text"
                           class="mt-1 block w-full"
                           v-model="form.name"
                           ref="name"
                />
                <jet-input-error :message="form.errors.name" class="mt-2" />
            </div>

            <div class="col-span-6 sm:col-span-4">
                <jet-label for="description" value="Description" />
                <textarea v-model="form.description" name="description" id="description" class="mt-1 block w-full">

                </textarea>
                <jet-input-error :message="form.errors.description" class="mt-2" />
            </div>

        </template>

        <template #actions>
            <jet-action-message :on="form.recentlySuccessful" class="mr-3">
                Saved.
            </jet-action-message>

            <jet-button :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                Save
            </jet-button>
        </template>
    </jet-form-section>
</template>

<script>
import JetActionMessage from '@/Jetstream/ActionMessage'
import JetButton from '@/Jetstream/Button'
import JetFormSection from '@/Jetstream/FormSection'
import JetInput from '@/Jetstream/Input'
import JetInputError from '@/Jetstream/InputError'
import JetLabel from '@/Jetstream/Label'

export default {
    name: "UpdatePlaylistForm",
    props: ['playlist'],
    components: {
        JetActionMessage,
        JetButton,
        JetFormSection,
        JetInput,
        JetInputError,
        JetLabel,
    },

    data() {
        return {
            form: this.$inertia.form({
                playlist_id: this.playlist.id,
                name: this.playlist.name,
                description: this.playlist.description,
            }),
        }
    },

    methods: {
        updatePassword() {
            this.form.put(route('music.playlists.update'), {
                errorBag: 'updatePlaylist',
                preserveScroll: true,
                onSuccess: () => this.form.reset(),
                onError: () => {
                }
            })
        },
    },
}
</script>

<style scoped>

</style>
