<template>
    <a @click="action" class="flex h-12 shadow-sm rounded-md">
        <div :class="color" class="flex-shrink-0 flex items-center justify-center w-16 text-white text-sm font-medium rounded-l-md p-3">
            <slot name="icon" />
        </div>
        <div class="flex-1 flex items-center justify-between border-t border-r border-b border-gray-200 bg-white rounded-r-md truncate">
            <div class="flex-1 px-4 py-2 text-sm truncate">
                <slot />
            </div>
        </div>
    </a>
</template>

<script>
export default {
    name: "CardQuickAction",
    props: {
        action: {
            type: Function,
            default: () => () => {}
        },
        color: {
            type: String,
            default: 'bg-pink-600'
        }
    }
}
</script>

