<template>
    <!-- Off-canvas menu for mobile, show/hide based on off-canvas menu state. -->
    <transition duration="300">
    <div class="md:hidden" v-show="active">
        <div class="fixed inset-0 flex z-40">

            <transition
                enter-class="opacity-0"
                enter-active-class="transition-opacity ease-linear duration-300"
                enter-to-class="opacity-100"
                leave-class="opacity-100"
                leave-active-class="transition-opacity ease-linear duration-300"
                leave-to-class="opacity-0"
            >
            <div v-if="active" class="fixed inset-0" aria-hidden="true" @click="close">
                <div class="absolute inset-0 bg-gray-600 opacity-75"></div>
            </div>
            </transition>

            <transition
                enter-class="-translate-x-full"
                enter-active-class="transition ease-in-out duration-300 transform"
                enter-to-class="translate-x-0"
                leave-class="translate-x-0"
                leave-active-class="transition ease-in-out duration-300 transform"
                leave-to-class="-translate-x-full"
            >
                <div v-if="active" class="relative flex-1 flex flex-col max-w-xs w-full pt-5 pb-4 bg-gray-800">
                <div class="absolute top-0 right-0 -mr-12 pt-2">
                    <button @click="close" class="ml-1 flex items-center justify-center h-10 w-10 rounded-full focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white">
                        <span class="sr-only">Close sidebar</span>
                        <!-- Heroicon name: x -->
                        <asset-icon-x  class="h-6 w-6 text-white" />
                    </button>
                </div>
                <div class="flex-shrink-0 flex items-center px-4">
                    <asset-logo />
                </div>
                <div class="mt-5 flex-1 h-0 overflow-y-auto">
                    <nav class="px-2 space-y-1">
                        <inertia-link v-for="item in items" :key="item.key" :href="route(item.key)"
                                      class="group flex items-center px-2 py-2 text-base font-medium rounded-md"
                                      :class="{
                                                'bg-gray-900 text-white': route().current(item.key),
                                                'text-gray-300 hover:bg-gray-700 hover:text-white': !(route().current(item.key))
                                        }">
                            <component :is="item.icon"
                                       class="mr-3 h-6 w-6"
                                       :class="{
                                     'text-gray-300': route().current(item.key),
                                     'text-gray-400 group-hover:text-gray-300': !route().current(item.key),
                            }"/>
                            {{ item.label }}
                        </inertia-link>

                    </nav>
                </div>
            </div>
            </transition>

            <div class="flex-shrink-0 w-14" aria-hidden="true">
                <!-- Dummy element to force sidebar to shrink to fit close icon -->
            </div>
        </div>
    </div>
    </transition>
</template>

<script>
import AssetLogo from "@/Components/Assets/assetLogo";
import AssetIconX from "@/Components/Assets/Icons/assetIconX";

export default {
    name: "elementMobileNavSidebar",
    components: {AssetIconX, AssetLogo},
    props: {
        active: {
            required: true,
            type: Boolean,
        },
        items: {
            required: true,
            type: Array,
        }
    },
    methods: {
        close(){
            this.$emit('toggleNav');
        }
    }
}
</script>
