<template>
    <form-request :method="endpoint.method" :endpoint="endpoint.endpoint" :value="formData" @success="onSuccess">
        <template #default="{submit, cancel, data, errors}">
            <form class="space-y-8 divide-y divide-gray-200">
                <div class="space-y-8 divide-y divide-gray-200">
                    <div>
                        <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
                            <div class="sm:col-span-4">
                                <label for="name" class="block text-sm font-medium text-gray-700">
                                    Name
                                </label>
                                <div class="mt-1 flex rounded-md shadow-sm">
                                    <input v-model="data.name" type="text" name="name" id="name"
                                           class="flex-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full min-w-0 rounded-none rounded-r-md sm:text-sm border-gray-300">
                                </div>
                            </div>

                            <div class="sm:col-span-2">
                                <div class="mt-8 flex">
                                    <div class="flex items-center">
                                        <toggle v-model="data.public" meta="Playlist should be Public"/>
                                        <span class="ml-3">
                                             <span class="text-sm font-medium text-gray-900">Public</span>
                                            </span>
                                    </div>

                                </div>
                            </div>

                            <div class="grid grid-cols-6 gap-6 col-span-6">
                                <div class="col-span-6 sm:col-span-3">
                                    <label for="spotify_description"
                                           class="block text-sm font-medium text-gray-700">
                                        Spotify Description
                                    </label>
                                    <div class="mt-1">
                                                    <textarea v-model="data.spotify_description"
                                                              id="spotify_description" name="spotify_description"
                                                              rows="3"
                                                              class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"></textarea>
                                    </div>
                                    <p class="mt-2 text-sm text-gray-500">Write a few sentences about the
                                        Playlist.</p>
                                </div>

                                <div class="col-span-6 sm:col-span-3">
                                    <label for="deezer_description" class="block text-sm font-medium text-gray-700">
                                        Deezer Description
                                    </label>
                                    <div class="mt-1">
                                                    <textarea v-model="data.deezer_description" id="deezer_description"
                                                              name="deezer_description"
                                                              rows="3"
                                                              class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"></textarea>
                                    </div>
                                    <p class="mt-2 text-sm text-gray-500">Write a few sentences about the
                                        Playlist.</p>
                                </div>
                            </div>

                            <div v-if="isEdit" class="grid grid-cols-6 gap-6 col-span-6">
                                <div class="col-span-6 sm:col-span-3">
                                    <label for="spotify_id" class="block text-sm font-medium text-gray-700">Spotify
                                        ID</label>
                                    <input type="text" name="spotify_id" id="spotify_id"
                                           v-model="data.spotify_id"
                                           class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                </div>

                                <div class="col-span-6 sm:col-span-3">
                                    <label for="deezer_id" class="block text-sm font-medium text-gray-700">
                                        Deezer ID
                                    </label>
                                    <input type="text"
                                           v-model="data.deezer_id"
                                           name="deezer_id"
                                           id="deezer_id"
                                           class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                </div>
                            </div>
                            <div v-else class="grid grid-cols-6 gap-6 col-span-6">
                                <div class="col-span-6 sm:col-span-3">
                                    <label class="block text-sm font-medium text-gray-700">Spotify
                                        Sync to Spotify</label>
                                    <toggle class="mt-1" v-model="data.sync_spotify" meta="Playlist should be synced to Spotify"/>
                                </div>

                                <div class="col-span-6 sm:col-span-3">
                                    <label class="block text-sm font-medium text-gray-700">
                                        Sync to Deezer
                                    </label>
                                    <toggle class="mt-1" v-model="data.sync_deezer" meta="Playlist should be synced to Deezer"/>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pt-5">
                    <div class="flex justify-end">
                        <inertia-link :href="endpoint.cancel"
                                      class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                            Cancel
                        </inertia-link>
                        <button type="button" @click="submit"
                                class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                            Save
                        </button>
                    </div>
                </div>
                {{ errors }}
            </form>
        </template>
    </form-request>
</template>

<script>
import FormRequest from "@/Components/Utils/FormRequest";
import Toggle from "@/Components/Ui/Fields/Toggle";

export default {
    name: "PlaylistForm",
    components: {Toggle, FormRequest},
    props: {
        playlist: {
            type: Object,
            default: null
        }
    },
    data() {

        if (this.playlist !== null) {
            return {
                formData: {
                    name: this.playlist.name,
                    spotify_description: this.playlist.spotify.length !== 0 ? this.playlist.spotify.description : this.playlist.description,
                    deezer_description: this.playlist.deezer.length !== 0 ? this.playlist.deezer.description : this.playlist.description,
                    public: this.playlist.public,
                    spotify_id: this.playlist.spotify.length !== 0 ? this.playlist.spotify.id : '',
                    deezer_id: this.playlist.deezer.length !== 0 ? this.playlist.deezer.id : '',
                }
            };
        }

        return {
            formData: {
                name: '',
                spotify_description: '',
                deezer_description: '',
                public: true,
                sync_spotify: true,
                sync_deezer: true,
            }
        };
    },
    computed: {
        isEdit() {
            console.table({edit:this.playlist})
            return this.playlist !== null
        },
        endpoint(){
            if (this.isEdit){
                return {
                    endpoint: route('api.playlists.update',{playlist : this.playlist.id}),
                    cancel: route('playlists.show',{playlist : this.playlist.id}),
                    method: 'put'
                }
            }

            return {
                endpoint: route('api.playlists.create'),
                cancel: route('playlists'),
                method: 'post'
            }
        }
    },
    methods: {
        onSuccess({data}) {
            this.$inertia.visit(route('playlists.show', {'playlist': data.data.id}))
        }
    }
}
</script>
