<template>
  <div class="mt-1">
    <div class="relative">
      <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none" aria-hidden="true">
        <!-- Heroicon name: search -->
        <svg class="mr-3 h-4 w-4 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
             fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd"
                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                clip-rule="evenodd"/>
        </svg>
      </div>
      <input v-model="search" type="text" name="search" id="search"
             class="focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-9 sm:text-sm border-gray-300 rounded-md"
             placeholder="Search">
    </div>


    <!--
      Select popover, show/hide based on select state.

      Entering: ""
        From: ""
        To: ""
      Leaving: "transition ease-in duration-100"
        From: "opacity-100"
        To: "opacity-0"
    -->
    <div class="grid grid-cols-2 gap-4 mt-1 w-full rounded-md bg-white">
      <div class="p-1">
        <p>Spotify</p>
        <ul v-if="spotify_results.length !== 0"
            tabindex="-1"
            role="listbox"
            aria-labelledby="listbox-label"
            aria-activedescendant="listbox-item-3"
            class="max-h-56 rounded-md py-1 text-base ring-1 ring-black ring-opacity-5 overflow-auto focus:outline-none sm:text-sm">
          <!--
            Select option, manage highlight styles based on mouseenter/mouseleave and keyboard navigation.

            Highlighted: "text-white bg-indigo-600", Not Highlighted: "text-gray-900"
          -->
          <li v-for="sResult in spotify_results"
              :key="sResult.id"
              id="listbox-item-0"
              role="option"
              @click="selectSong('spotify', sResult)"
              class="text-gray-900 cursor-default select-none relative py-1 pl-3 pr-9 hover:bg-indigo-600 hover:text-white">
            <div class="flex items-center">
              <img :src="sResult.image" alt=""
                   class="flex-shrink-0 h-10 w-10">
              <!-- Selected: "font-semibold", Not Selected: "font-normal" -->
              <p>
                                        <span class="ml-3 block font-normal truncate">
                                            <span v-text="sResult.name"/>
                                            <span class="text-gray-500 ml-3" v-text="sResult.duration"/>
                                        </span>
                <span class="text-gray-500 ml-3">
                                            <span v-for="artist in sResult.artists"
                                                  :key="artist.id"
                                                  v-text="artist.name"/>
                                        </span>
              </p>
            </div>

            <!--
              Checkmark, only display for selected option.

              Highlighted: "text-white", Not Highlighted: "text-indigo-600"
            -->
            <span class="absolute inset-y-0 right-0 flex items-center pr-4"
                  v-if="selected_spotify !== null && selected_spotify.id === sResult.id">
                        <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                             aria-hidden="true">
                          <path fill-rule="evenodd"
                                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                clip-rule="evenodd"/>
                        </svg>
                      </span>
          </li>

          <!-- More items... -->
        </ul>
        <div v-else
             class="rounded-md p-4 text-lg ring-1 ring-black ring-opacity-5 overflow-auto focus:outline-none sm:text-sm font-bold justify-center">
          No Results
        </div>
      </div>
      <div class="p-1">
        <p>Deezer</p>
        <ul v-if="deezer_results.length !== 0"
            tabindex="-1"
            role="listbox"
            aria-labelledby="listbox-label"
            aria-activedescendant="listbox-item-3"
            class="max-h-56 rounded-md py-1 text-base ring-1 ring-black ring-opacity-5 overflow-auto focus:outline-none sm:text-sm">
          <!--
            Select option, manage highlight styles based on mouseenter/mouseleave and keyboard navigation.

            Highlighted: "text-white bg-indigo-600", Not Highlighted: "text-gray-900"
          -->
          <li v-for="sResult in deezer_results"
              :key="sResult.id"
              @click="selectSong('deezer', sResult)"
              id="listbox-item-0"
              role="option"
              class="text-gray-900 cursor-default select-none relative py-1 pl-3 pr-9 hover:bg-indigo-600 hover:text-white">
            <div class="flex items-center">
              <img :src="sResult.image" alt=""
                   class="flex-shrink-0 h-10 w-10">
              <!-- Selected: "font-semibold", Not Selected: "font-normal" -->
              <p>
                                        <span class="ml-3 block font-normal truncate">
                                            <span v-text="sResult.name"/>
                                            <span class="text-gray-500 ml-3" v-text="sResult.duration"/>
                                        </span>
                <span class="text-gray-500 ml-3">
                                            <span v-for="artist in sResult.artists"
                                                  :key="artist.id"
                                                  v-text="artist.name">

                                            </span>
                                        </span>
              </p>
            </div>

            <!--
              Checkmark, only display for selected option.

              Highlighted: "text-white", Not Highlighted: "text-indigo-600"
            -->
            <span class="absolute inset-y-0 right-0 flex items-center pr-4"
                  v-if="selected_deezer !== null && selected_deezer.id === sResult.id">

                            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                 fill="currentColor" aria-hidden="true">
                              <path fill-rule="evenodd"
                                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                    clip-rule="evenodd"/>
                            </svg>
                          </span>
          </li>

          <!-- More items... -->
        </ul>
        <div v-else
             class="rounded-md p-4 text-lg ring-1 ring-black ring-opacity-5 overflow-auto focus:outline-none sm:text-sm font-bold justify-center">
          No Results
        </div>
      </div>

    </div>
  </div>
</template>

<script>
export default {
  name: "SearchStreamingSongs",
  props: {
    value: {
      type: Object,
      default: () => ({spotify: null, deezer: null})
    }
  },
  data: function () {
    return {
      search: '',
      debounce: null,
      spotify_results: [],
      deezer_results: [],
      selected_spotify: this.value.spotify,
      selected_deezer: this.value.deezer,
    }
  },
  methods: {
    triggerSearch() {
      this.fetchResults('spotify')
      this.fetchResults('deezer')
    },
    fetchResults(driver) {
      axios.get(route('streaming.search', {driver: driver}) + '?q=' + this.search)
          .then(({data}) => {
            this[driver + '_results'] = data.data;
          })
    },
    resetResults() {
      this.spotify_results = [];
      this.deezer_results = [];
    },
    selectSong(provider, song) {
      const selected = this['selected_' + provider];

      if (selected === null) {
        this['selected_' + provider] = song;
        return;
      }

      if (selected.id === song.id) {
        this['selected_' + provider] = null;
        return;
      }

      this['selected_' + provider] = song;
    }
  },
  watch: {
    search() {
      if (this.debounce !== null) {
        clearTimeout(this.debounce);
      }

      this.debounce = setTimeout(() => {
        if (this.search === '') {
          return this.resetResults();
        }

        this.triggerSearch()
      }, 500)
    },
    selected_spotify() {
      this.$emit('input', {deezer: this.selected_deezer, spotify: this.selected_spotify});
    },
    selected_deezer() {
      this.$emit('input', {deezer: this.selected_deezer, spotify: this.selected_spotify});
    }
  }
}
</script>
