<template>
    <button type="button"
            @click="change"
            :class="{
                    'bg-indigo-600': active,
                    'bg-gray-200': !active,
            }"
            class="bg-gray-200 relative inline-flex flex-shrink-0 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            :aria-pressed="active">
        <span class="sr-only" v-text="meta"/>
        <span aria-hidden="true"
              :class="{
                   'translate-x-5': active,
                    'translate-x-0': !active,
              }"
              class="translate-x-0 pointer-events-none inline-block h-5 w-5 rounded-full bg-white shadow transform ring-0 transition ease-in-out duration-200"></span>
    </button>

</template>

<script>
export default {
    name: "Toggle",
    model: {
        prop: 'active',
        event: 'change'
    },
    props: {
        active: {
            type: Boolean,
            default: false,
        },
        meta: String
    },
    methods: {
        change() {
            this.$emit('change', !this.active);
        }
    }
}
</script>

