<template>
    <div class="hidden md:flex md:flex-shrink-0">
        <div class="flex flex-col w-64">
            <!-- Sidebar component, swap this element with another sidebar if you like -->
            <div class="flex flex-col h-0 flex-1">
                <div class="flex items-center h-16 flex-shrink-0 px-4 bg-gray-900">
                    <asset-logo></asset-logo>
                </div>

                <div class="flex-1 flex flex-col overflow-y-auto">
                    <nav class="flex-1 px-2 py-4 bg-gray-800 space-y-1">
                        <div v-for="item in items" :key="item.key">
                            <inertia-link :href="route(item.key)"
                                          class="group flex items-center px-2 py-2 text-sm font-medium rounded-md"
                                          :class="{
                                                    'bg-gray-900 text-white': route().current(item.key),
                                                    'text-gray-300 hover:bg-gray-700 hover:text-white': !(route().current(item.key))
                                            }">
                                <component :is="item.icon"
                                           class="mr-3 h-6 w-6"
                                          :class="{
                                         'text-gray-300': route().current(item.key),
                                         'text-gray-400 group-hover:text-gray-300': !route().current(item.key),
                                }"/>
                                {{ item.label }}
                            </inertia-link>

                            <div class="ml-8" v-if="item.children">
                                <ul class="space-y-1">
                                        <inertia-link
                                            as="li"
                                            v-for="child in item.children"
                                            :key="child.key"
                                            :href="route(child.key)"
                                                      class="group flex items-center px-2 py-2 text-sm font-medium rounded-md"
                                                      :class="{
                                                    'bg-gray-900 text-white': route().current(child.key),
                                                    'text-gray-300 hover:bg-gray-700 hover:text-white': !(route().current(child.key))
                                            }">
                                            {{ child.label }}
                                        </inertia-link>
                                </ul>
                            </div>
                        </div>

                    </nav>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import AssetLogo from "@/Components/Assets/assetLogo";

export default {
    name: "elementNavSidebar",
    components: { AssetLogo},
    props: {
        items: {
            required: true,
            type: Array,
        }
    }
}
</script>
