<template>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 116 76">
        <path fill="#29ab70" d="M 115.35 0.52002 H 90.5195 V 15.01 H 115.35 V 0.52002 Z" />
        <path fill="url(#paint0_linear)" d="M 115.35 20.7 H 90.5195 V 35.19 H 115.35 V 20.7 Z" />
        <path fill="url(#paint1_linear)" d="M 115.35 40.87 H 90.5195 V 55.36 H 115.35 V 40.87 Z" />
        <path fill="url(#paint2_linear)" d="M 25.3398 61.05 H 0.509766 V 75.54 H 25.3398 V 61.05 Z" />
        <path fill="url(#paint3_linear)" d="M 55.3398 61.05 H 30.5098 V 75.54 H 55.3398 V 61.05 Z" />
        <path fill="url(#paint4_linear)" d="M 85.3495 61.05 H 60.5195 V 75.54 H 85.3495 V 61.05 Z" />
        <path fill="url(#paint5_linear)" d="M 115.35 61.05 H 90.5195 V 75.54 H 115.35 V 61.05 Z" />
        <path fill="url(#paint6_linear)" d="M 85.3495 40.87 H 60.5195 V 55.36 H 85.3495 V 40.87 Z" />
        <path fill="url(#paint7_linear)" d="M 55.3398 40.87 H 30.5098 V 55.36 H 55.3398 V 40.87 Z" />
        <path fill="url(#paint8_linear)" d="M 55.3398 20.7 H 30.5098 V 35.19 H 55.3398 V 20.7 Z" />
        <defs>
            <linearGradient id="paint0_linear" gradientUnits="userSpaceOnUse" x1="104.55" y1="37.09" x2="101.32" y2="18.79">
                <stop stop-color="#2c8c9d" />
                <stop stop-color="#298e9a" offset="0.04" />
                <stop stop-color="#129c83" offset="0.39" />
                <stop stop-color="#05a475" offset="0.72" />
                <stop stop-color="#00a770" offset="1" />
            </linearGradient>
            <linearGradient id="paint1_linear" gradientUnits="userSpaceOnUse" x1="90.1495" y1="54.63" x2="115.72" y2="41.6">
                <stop stop-color="#2839ba" />
                <stop stop-color="#148cb3" offset="1" />
            </linearGradient>
            <linearGradient id="paint2_linear" gradientUnits="userSpaceOnUse" x1="0.509766" y1="68.29" x2="25.3398" y2="68.29">
                <stop stop-color="#f6a500" />
                <stop stop-color="#f29100" offset="1" />
            </linearGradient>
            <linearGradient id="paint3_linear" gradientUnits="userSpaceOnUse" x1="30.5098" y1="68.29" x2="55.3398" y2="68.29">
                <stop stop-color="#f29100" />
                <stop stop-color="#d12f5f" offset="1" />
            </linearGradient>
            <linearGradient id="paint4_linear" gradientUnits="userSpaceOnUse" x1="60.5195" y1="68.29" x2="85.3495" y2="68.29">
                <stop stop-color="#b4197c" />
                <stop stop-color="#472ead" offset="1" />
            </linearGradient>
            <linearGradient id="paint5_linear" gradientUnits="userSpaceOnUse" x1="90.5195" y1="68.29" x2="115.35" y2="68.29">
                <stop stop-color="#2839ba" />
                <stop stop-color="#3072b7" offset="1" />
            </linearGradient>
            <linearGradient id="paint6_linear" gradientUnits="userSpaceOnUse" x1="59.5395" y1="52.03" x2="86.3195" y2="44.2">
                <stop stop-color="#b4197c" />
                <stop stop-color="#373aac" offset="1" />
            </linearGradient>
            <linearGradient id="paint7_linear" gradientUnits="userSpaceOnUse" x1="29.6398" y1="43.28" x2="56.2198" y2="52.95">
                <stop stop-color="#ffcb00" />
                <stop stop-color="#d12f5f" offset="1" />
            </linearGradient>
            <linearGradient id="paint8_linear" gradientUnits="userSpaceOnUse" x1="32.6098" y1="18.4199" x2="53.2398" y2="37.4599">
                <stop stop-color="#ffcf00" />
                <stop stop-color="#ed743b" offset="1" />
            </linearGradient>
        </defs>
    </svg>
</template>

<script>
export default {
    name: "DeezerIcon"
}
</script>

