<template>
    <svg xmlns="http://www.w3.org/2000/svg"
         fill="none"
         viewBox="0 0 580 113">
        <path fill="white" d="M 335.461 94.9999 C 324.691 94.9999 315.831 88.5099 315.671 77.1099 H 366.671 C 367.339 74.0958 367.675 71.0173 367.671 67.93 C 367.671 47.34 353.581 34.2 332.841 34.2 C 310.671 34.2 295.471 51.4599 295.471 72.8299 C 295.471 96.5799 311.941 112.42 335.211 112.42 C 352.791 112.42 364.981 103.55 370.211 88.98 L 352.881 82.21 C 350.501 90.73 344.641 94.9999 335.461 94.9999 Z M 332.771 50.51 C 341.771 50.51 347.971 55.42 347.971 63.02 L 347.811 63.65 H 315.671 C 317.571 55.42 324.541 50.51 332.771 50.51 Z" />
        <path fill="white" d="M 437.73 52.41 V 35.78 H 372.34 V 53.2 H 412.24 L 371.07 93.42 V 110.83 H 438.84 V 92.62 H 396.4 L 437.73 52.41 Z" />
        <path fill="white" d="M 559.86 60.01 C 559.866 61.2709 559.782 62.5307 559.61 63.78 H 578.82 C 579.287 61.338 579.511 58.856 579.49 56.37 C 579.49 43.54 571.42 34.2 557.96 34.2 C 549.25 34.2 543.08 38.4799 539.91 45.4399 V 35.79 H 519.65 V 110.79 H 539.91 V 62.54 C 539.91 54.94 544.03 50.67 550.36 50.67 C 556.06 50.67 559.86 54.47 559.86 60.01 Z" />
        <path fill="white" d="M 194.999 47.03 C 190.399 39.27 181.849 34.2 171.249 34.2 C 150.659 34.2 135.619 50.04 135.619 73.63 C 135.619 96.9 150.509 112.42 171.719 112.42 C 182.329 112.42 190.879 107.82 195.789 100.07 V 110.83 H 215.259 V 0 H 194.999 V 47.03 Z M 175.829 95.21 C 164.589 95.21 155.829 86.98 155.829 73.68 C 155.829 60.22 164.539 51.68 175.829 51.68 C 186.749 51.68 195.779 60.23 195.779 73.68 C 195.779 86.93 186.749 95.21 175.829 95.21 Z" />
        <path fill="white" d="M 479.81 94.9999 C 469.04 94.9999 460.18 88.5099 460.02 77.1099 H 511.02 C 511.689 74.0958 512.024 71.0173 512.02 67.93 C 512.02 47.34 497.93 34.2 477.19 34.2 C 455.02 34.2 439.82 51.4599 439.82 72.8299 C 439.82 96.5799 456.29 112.42 479.56 112.42 C 497.14 112.42 509.33 103.55 514.56 88.98 L 497.22 82.21 C 494.85 90.73 489 94.9999 479.81 94.9999 Z M 477.12 50.51 C 486.12 50.51 492.32 55.42 492.32 63.02 L 492.16 63.65 H 460 C 461.92 55.42 468.88 50.51 477.12 50.51 Z" />
        <path fill="white" d="M 260.63 94.9999 C 249.86 94.9999 241 88.5099 240.84 77.1099 H 291.84 C 292.497 74.0947 292.815 71.0157 292.79 67.93 C 292.79 47.34 278.7 34.2 257.96 34.2 C 235.79 34.2 220.59 51.4599 220.59 72.8299 C 220.59 96.5799 237.06 112.42 260.33 112.42 C 277.91 112.42 290.1 103.55 295.33 88.98 L 278.05 82.21 C 275.67 90.73 269.81 94.9999 260.63 94.9999 Z M 257.94 50.51 C 266.94 50.51 273.14 55.42 273.14 63.02 L 272.98 63.65 H 240.84 C 242.74 55.42 249.71 50.51 257.94 50.51 Z" />
        <path fill="#29ab70" d="M 115.35 35.73 H 90.5195 V 50.22 H 115.35 V 35.73 Z" />
        <path fill="url(#paint0_linear)" d="M 115.35 55.9099 H 90.5195 V 70.3999 H 115.35 V 55.9099 Z" />
        <path fill="url(#paint1_linear)" d="M 115.35 76.08 H 90.5195 V 90.57 H 115.35 V 76.08 Z" />
        <path fill="url(#paint2_linear)" d="M 25.3398 96.26 H 0.509766 V 110.75 H 25.3398 V 96.26 Z" />
        <path fill="url(#paint3_linear)" d="M 55.3398 96.26 H 30.5098 V 110.75 H 55.3398 V 96.26 Z" />
        <path fill="url(#paint4_linear)" d="M 85.3495 96.26 H 60.5195 V 110.75 H 85.3495 V 96.26 Z" />
        <path fill="url(#paint5_linear)" d="M 115.35 96.26 H 90.5195 V 110.75 H 115.35 V 96.26 Z" />
        <path fill="url(#paint6_linear)" d="M 85.3495 76.08 H 60.5195 V 90.57 H 85.3495 V 76.08 Z" />
        <path fill="url(#paint7_linear)" d="M 55.3398 76.08 H 30.5098 V 90.57 H 55.3398 V 76.08 Z" />
        <path fill="url(#paint8_linear)" d="M 55.3398 55.9099 H 30.5098 V 70.3999 H 55.3398 V 55.9099 Z" />
        <path fill="black" d="M 335.461 94.9999 C 324.691 94.9999 315.831 88.5099 315.671 77.1099 H 366.671 C 367.339 74.0958 367.675 71.0173 367.671 67.93 C 367.671 47.34 353.581 34.2 332.841 34.2 C 310.671 34.2 295.471 51.4599 295.471 72.8299 C 295.471 96.5799 311.941 112.42 335.211 112.42 C 352.791 112.42 364.981 103.55 370.211 88.98 L 352.881 82.21 C 350.501 90.73 344.641 94.9999 335.461 94.9999 Z M 332.771 50.51 C 341.771 50.51 347.971 55.42 347.971 63.02 L 347.811 63.65 H 315.671 C 317.571 55.42 324.541 50.51 332.771 50.51 Z" />
        <path fill="black" d="M 437.73 52.41 V 35.78 H 372.34 V 53.2 H 412.24 L 371.07 93.42 V 110.83 H 438.84 V 92.62 H 396.4 L 437.73 52.41 Z" />
        <path fill="black" d="M 559.86 60.01 C 559.866 61.2709 559.782 62.5307 559.61 63.78 H 578.82 C 579.287 61.338 579.511 58.856 579.49 56.37 C 579.49 43.54 571.42 34.2 557.96 34.2 C 549.25 34.2 543.08 38.4799 539.91 45.4399 V 35.79 H 519.65 V 110.79 H 539.91 V 62.54 C 539.91 54.94 544.03 50.67 550.36 50.67 C 556.06 50.67 559.86 54.47 559.86 60.01 Z" />
        <path fill="black" d="M 194.999 47.03 C 190.399 39.27 181.849 34.2 171.249 34.2 C 150.659 34.2 135.619 50.04 135.619 73.63 C 135.619 96.9 150.509 112.42 171.719 112.42 C 182.329 112.42 190.879 107.82 195.789 100.07 V 110.83 H 215.259 V 0 H 194.999 V 47.03 Z M 175.829 95.21 C 164.589 95.21 155.829 86.98 155.829 73.68 C 155.829 60.22 164.539 51.68 175.829 51.68 C 186.749 51.68 195.779 60.23 195.779 73.68 C 195.779 86.93 186.749 95.21 175.829 95.21 Z" />
        <path fill="black" d="M 479.81 94.9999 C 469.04 94.9999 460.18 88.5099 460.02 77.1099 H 511.02 C 511.689 74.0958 512.024 71.0173 512.02 67.93 C 512.02 47.34 497.93 34.2 477.19 34.2 C 455.02 34.2 439.82 51.4599 439.82 72.8299 C 439.82 96.5799 456.29 112.42 479.56 112.42 C 497.14 112.42 509.33 103.55 514.56 88.98 L 497.22 82.21 C 494.85 90.73 489 94.9999 479.81 94.9999 Z M 477.12 50.51 C 486.12 50.51 492.32 55.42 492.32 63.02 L 492.16 63.65 H 460 C 461.92 55.42 468.88 50.51 477.12 50.51 Z" />
        <path fill="black" d="M 260.63 94.9999 C 249.86 94.9999 241 88.5099 240.84 77.1099 H 291.84 C 292.497 74.0947 292.815 71.0157 292.79 67.93 C 292.79 47.34 278.7 34.2 257.96 34.2 C 235.79 34.2 220.59 51.4599 220.59 72.8299 C 220.59 96.5799 237.06 112.42 260.33 112.42 C 277.91 112.42 290.1 103.55 295.33 88.98 L 278.05 82.21 C 275.67 90.73 269.81 94.9999 260.63 94.9999 Z M 257.94 50.51 C 266.94 50.51 273.14 55.42 273.14 63.02 L 272.98 63.65 H 240.84 C 242.74 55.42 249.71 50.51 257.94 50.51 Z" />
        <defs>
            <linearGradient id="paint0_linear" gradientUnits="userSpaceOnUse" x1="104.55" y1="72.2999" x2="101.32" y2="53.9999">
                <stop stop-color="#2c8c9d" />
                <stop stop-color="#298e9a" offset="0.04" />
                <stop stop-color="#129c83" offset="0.39" />
                <stop stop-color="#05a475" offset="0.72" />
                <stop stop-color="#00a770" offset="1" />
            </linearGradient>
            <linearGradient id="paint1_linear" gradientUnits="userSpaceOnUse" x1="90.1495" y1="89.84" x2="115.72" y2="76.81">
                <stop stop-color="#2839ba" />
                <stop stop-color="#148cb3" offset="1" />
            </linearGradient>
            <linearGradient id="paint2_linear" gradientUnits="userSpaceOnUse" x1="0.509766" y1="103.5" x2="25.3398" y2="103.5">
                <stop stop-color="#f6a500" />
                <stop stop-color="#f29100" offset="1" />
            </linearGradient>
            <linearGradient id="paint3_linear" gradientUnits="userSpaceOnUse" x1="30.5098" y1="103.5" x2="55.3398" y2="103.5">
                <stop stop-color="#f29100" />
                <stop stop-color="#d12f5f" offset="1" />
            </linearGradient>
            <linearGradient id="paint4_linear" gradientUnits="userSpaceOnUse" x1="60.5195" y1="103.5" x2="85.3495" y2="103.5">
                <stop stop-color="#b4197c" />
                <stop stop-color="#472ead" offset="1" />
            </linearGradient>
            <linearGradient id="paint5_linear" gradientUnits="userSpaceOnUse" x1="90.5195" y1="103.5" x2="115.35" y2="103.5">
                <stop stop-color="#2839ba" />
                <stop stop-color="#3072b7" offset="1" />
            </linearGradient>
            <linearGradient id="paint6_linear" gradientUnits="userSpaceOnUse" x1="59.5395" y1="87.24" x2="86.3195" y2="79.41">
                <stop stop-color="#b4197c" />
                <stop stop-color="#373aac" offset="1" />
            </linearGradient>
            <linearGradient id="paint7_linear" gradientUnits="userSpaceOnUse" x1="29.6398" y1="78.49" x2="56.2198" y2="88.16">
                <stop stop-color="#ffcb00" />
                <stop stop-color="#d12f5f" offset="1" />
            </linearGradient>
            <linearGradient id="paint8_linear" gradientUnits="userSpaceOnUse" x1="32.6098" y1="53.6299" x2="53.2398" y2="72.6699">
                <stop stop-color="#ffcf00" />
                <stop stop-color="#ed743b" offset="1" />
            </linearGradient>
        </defs>
    </svg>
</template>

<script>
export default {
    name: "DeezerLogo"
}
</script>

