<template>
    <div class="h-screen flex overflow-hidden bg-gray-100">
        <element-mobile-nav-sidebar
            :active="showMobileNav"
            @toggleNav="showMobileNav = !showMobileNav"
            :items="navItems" />

        <!-- Static sidebar for desktop -->
        <element-nav-sidebar :items="navItems" />

        <div class="flex flex-col w-0 flex-1 overflow-hidden">
          <element-header-bar @toggleNav="showMobileNav = !showMobileNav" />

            <main class="flex-1 relative overflow-y-auto focus:outline-none" tabindex="0">

                <div class="py-6">
                    <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
                    <div class="md:flex md:items-center md:justify-between">
                        <div class="flex-1 min-w-0">
                            <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">
                                <slot name="header" />
                            </h2>
                        </div>
                        <div class="mt-4 flex md:mt-0 md:ml-4">
                            <slot name="header-options" />
                        </div>
                    </div>
                     <main>
                         <slot></slot>
                     </main>
                    </div>
                </div>
            </main>
        </div>

        <portal-target name="modal" multiple>
        </portal-target>
    </div>

</template>

<script>
    import JetApplicationMark from '@/Jetstream/ApplicationMark'
    import JetBanner from '@/Jetstream/Banner'
    import JetDropdown from '@/Jetstream/Dropdown'
    import JetDropdownLink from '@/Jetstream/DropdownLink'
    import JetNavLink from '@/Jetstream/NavLink'
    import JetResponsiveNavLink from '@/Jetstream/ResponsiveNavLink'
    import AssetLogo from "@/Components/Assets/assetLogo";
    import DashboardIcon from "@/Components/Assets/Icons/assetIconDashboard";
    import MusicNoteIcon from "@/Components/Assets/Icons/assetIconMusicNote.vue";
    import ElementNavSidebar from "@/Components/elements/elementNavSidebar";
    import ElementMobileNavSidebar from "@/Components/elements/mobile/elementMobileNavSidebar";
    import ElementHeaderBar from "@/Components/elements/elementHeaderBar";

    export default {
        components: {
            ElementHeaderBar,
            ElementMobileNavSidebar,
            ElementNavSidebar,
            AssetLogo,
            JetApplicationMark,
            JetBanner,
            JetDropdown,
            JetDropdownLink,
            JetNavLink,
            JetResponsiveNavLink,
        },

        data() {
            return {
                showMobileNav: false,
                navItems: [
                    {
                        key: 'dashboard',
                        label: 'Dashboard',
                        icon: DashboardIcon
                    },
                    {
                        key: 'playlists',
                        label: 'Playlists',
                        icon: MusicNoteIcon,
                        children: [
                            {
                                key: 'playlists.suggestions',
                                label: 'Suggestions',
                            }
                        ]
                    },
                ]
            }
        },

        methods: {
            switchToTeam(team) {
                this.$inertia.put(route('current-team.update'), {
                    'team_id': team.id
                }, {
                    preserveState: false
                })
            },
        }
    }
</script>
